In [2]:
a = input("Enter your first name: ")

print(a[::-1])

Enter your first name: Jayesh
hseyaJ

In [3]:
nl=[]
for x in range(2000, 3201):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [4]:
a = input("Enter your first name: ")
b = input("Enter your last name: ")
c = b + ' ' + a
print(c)

Enter your first name: Jayesh
Enter your last name: Shinde
Shinde Jayesh

In [10]:
pi = 3.14
d = 12
r = d/2
v = pi*r**3*4/3
print(v)

904.32

In [6]:
values = input('Enter some comma separated values:  ')
list = values.split(',')
print(list)

Enter some comma separated values:  1,5,6,8
['1', '5', '6', '8']

In [ ]:
rows = int(input("Enter max star to be display on single line "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

In [7]:
print("WE,THE PEOPLE OF INDIA, \n\thaving solemnly resolved India into a SOVEREIGN,! \n\t\tSOCIALIST, SECULAR, DEMOCRATIC, REPUBLIC, \n\t\t and to secure all its citizens.")

WE,THE PEOPLE OF INDIA,
	having solemnly resolved India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC, REPUBLIC,
		 and to secure all its citizens.